
:root {
  --primary-color: #e0b7d3; 
  --secondary-color: #fff6fb; 
  --text-color: #333; 
  --accent-color: #ff709b; 
  --footer-color: #e3b3dc;
  --Navbar-color: #e3b3dc;
}


body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  color: var(--text-color);
  background-color: var(--secondary-color);
}

h1, h2, h3, h4 {
  font-family: "Georgia", serif;
  color: var(--primary-color);
}


button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--accent-color);
}


.container {
  padding: 20px;
  margin: auto;
  max-width: 1200px;
}


footer {
  background-color: var(--footer-color);
  color: var(--text-color);
  text-align: center;
  padding: 15px;
}

.navbar {
  background-color: rgb(240, 194, 202);
  color: var(--text-color);
}

.navbar a {
  text-decoration: none;
  color: rgb(60, 6, 51);
  margin-right: 15px;
}

.navbar a:hover {
  text-decoration: underline;
}


.item-list-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.item-card {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  width: calc(25% - 20px);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.item-card:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.item-card img {
  max-width: 100%;
  border-radius: 5px;
}


@media (max-width: 768px) {
  .item-card {
    width: calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .item-card {
    width: 100%;
  }

  .navbar {
    text-align: center;
  }
}

